<!doctype html>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Plume{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plume.css') }}">

<div class=container>
	<!-- HEADER -->
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills float-right">
				<li class=nav-item>
					<a class="nav-link" href=#>User</a>
			</ul>
		</nav>
		<h3 class=text-muted>Plume</h3>
	</div>

	<div class="row content">
		{% include "_menu.html" %}

		<!-- MAIN -->
		<main class=col-md-9>
		{% block main %}{% endblock %}
		</main>
	</div>

	<!-- FOOTER -->
	<footer class=footer>
		<p>Jellycopter 2017</p>
	</footer>
</div>

