{% set active = {"page": "active"} %}
{% extends "base.html" %}

{% block main %}
	<form method=POST>
		<div class="row mt-2">
			<h3 class="col-10 pl-0">Create a Page</h3>
			<button class="btn btn-success col-2 mb-2" type=submit>save</a>
		</div>
		<div class="form-group row">
			<label for=title>Title</label>
			<input type=text class=form-control id=title name=title>
		</div>
		<div class="form-group row">
			<label for=content>Content</label>
			<textarea class=form-control id=content name=content rows=7>
			</textarea>
		</div>
	</form>
{% endblock %}
