{% set active = {"page": "active"} %}
{% extends "base.html" %}

{% block main %}
		<div class="row mt-2">
			<h3 class="col-10 pl-0">Pages</h3>
			<a class="btn btn-success col-2 mb-2"
				href="{{ url_for("page_create") }}">Create</a>
		</div>
		{% if page_list %}
		<ul class="list-group row">
			{% for page in page_list %}
			<li class=list-group-item>
				{{ page.title }} &ndash; {{ page.date.strftime("%d %b %Y") }}
				<div class="col text-right px-0">
					<a href="#" class="badge mx-1 badge-danger">Delete</a>
					<a href="{{ url_for("page_edit", page=page.id) }}"
						class="badge mx-1 badge-default">edit</a>
				</div>
			{% endfor %}
		</ul>
		{% else %}
		<p>There are no pages to display!</p>
		{% endif %}
{% endblock %}
